.ocr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
    .file-input {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    }
    .progress-bar {
    height: 5px;
    background-color: #4CAF50;
    margin-bottom: 20px;
    width: 0%; /* Initial width */
    transition: width 0.5s ease-in-out;
    }
    .ocr-result {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-family: monospace;
    }